.header{
  position: sticky;
  top: 0;
  min-height: 80px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: black;
}
.logo{
  text-decoration: none;
  text-transform: uppercase;
  color: bisque;
  padding-left: 40px;
}
.header-links{
  display: flex;
}
.header-links ul li{
  list-style: none;
  display: inline-block;
  font-size: 18px;
}
.header-links ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: bisque;
  padding: 0px 15px;
}
.header-links ul li a:hover{
  color: #b18fd1;
}

.movies {
  margin: 20px auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(172, 145, 204);
  border-radius: 5px;
}
.card{
  border: 1px solid black;
  height: 500px;
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  margin: 40px 20px;
  background-color: white;
}


.movie-image{
  width: 180px;
  height: 300px;
  display: block;
  object-fit: cover;
}
.movie-title{
  text-transform: uppercase;
  margin: 10px 0px;
}
.movie-genre{
  font-size: 18px;
}
.movie-price{
  margin: 10px 0px;
  padding-bottom: 20px;
  font-size: 15px;
}

.movie-add-button{
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  width: 100%;
  height: 40px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  margin: 1px auto;
}
.movie-add-button:hover{
  background-color: #7435af;
}
.movie-add-button:active{
  transform: translateY(2px);
}

.signup{
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #86c2f3;
  margin-top: 30px;
  height: 60vh;
  font-size: 20px;
  font-weight: 700;
}